In [1]:
import numpy as np
import pandas as pd

In [2]:
car=pd.read_csv("C:/Users/abhin/Downloads/cars.csv")

In [3]:
car.shape

(892, 6)

In [4]:
car.head

<bound method NDFrame.head of                                        name    company  year          Price  \
0      Hyundai Santro Xing XO eRLX Euro III    Hyundai  2007         80,000
1                   Mahindra Jeep CL550 MDI   Mahindra  2006       4,25,000
2                Maruti Suzuki Alto 800 Vxi     Maruti  2018  Ask For Price
3    Hyundai Grand i10 Magna 1.2 Kappa VTVT    Hyundai  2014       3,25,000
4          Ford EcoSport Titanium 1.5L TDCi       Ford  2014       5,75,000
..                                      ...        ...   ...            ...
887                                      Ta       Tara  zest       3,10,000
888                     Tata Zest XM Diesel       Tata  2018       2,60,000
889                      Mahindra Quanto C8   Mahindra  2013       3,90,000
890                Honda Amaze 1.2 E i VTEC      Honda  2014       1,80,000
891               Chevrolet Sail 1.2 LT ABS  Chevrolet  2014       1,60,000

     kms_driven fuel_type
0    45,000 kms    Petrol
1        40 kms    Diesel
2    22,000 kms    Petrol
3    28,000 kms    Petrol
4    36,000 kms    Diesel
..          ...       ...
887         NaN       NaN
888  27,000 kms    Diesel
889  40,000 kms    Diesel
890      Petrol       NaN
891      Petrol       NaN

[892 rows x 6 columns]>

In [5]:
car['year'].unique()

array(['2007', '2006', '2018', '2014', '2015', '2012', '2013', '2016',
       '2010', '2017', '2008', '2011', '2019', '2009', '2005', '2000',
       '...', '150k', 'TOUR', '2003', 'r 15', '2004', 'Zest', '/-Rs',
       'sale', '1995', 'ara)', '2002', 'SELL', '2001', 'tion', 'odel',
       '2 bs', 'arry', 'Eon', 'o...', 'ture', 'emi', 'car', 'able', 'no.',
       'd...', 'SALE', 'digo', 'sell', 'd Ex', 'n...', 'e...', 'D...',
       ', Ac', 'go .', 'k...', 'o c4', 'zire', 'cent', 'Sumo', 'cab',
       't xe', 'EV2', 'r...', 'zest'], dtype=object)

### cleaning data

In [6]:
car=car[car['year'].str.isnumeric()]

In [7]:
car['year']=car['year'].astype(int)

C:\Users\abhin\AppData\Local\Temp\ipykernel_12620\152728128.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  car['year']=car['year'].astype(int)

In [8]:
car['year'].dtype

dtype('int32')

In [9]:
car=car[car['Price']!="Ask For Price"]

In [10]:
car['Price']=car['Price'].str.replace(',','').astype(int)

In [11]:
car['kms_driven']=car['kms_driven'].str.split(' ').str.get(0).str.replace(",","")

In [12]:
car=car[car['kms_driven'].str.isnumeric()]

In [13]:
car['kms_driven']=car['kms_driven'].astype(int)

In [14]:
car=car[-car['fuel_type'].isna()]

In [15]:
car['name']=car['name'].str.split(' ').str.slice(0,3).str.join(' ')

In [16]:
car

                       name   company  year   Price  kms_driven fuel_type
0       Hyundai Santro Xing   Hyundai  2007   80000       45000    Petrol
1       Mahindra Jeep CL550  Mahindra  2006  425000          40    Diesel
3         Hyundai Grand i10   Hyundai  2014  325000       28000    Petrol
4    Ford EcoSport Titanium      Ford  2014  575000       36000    Diesel
6                 Ford Figo      Ford  2012  175000       41000    Diesel
..                      ...       ...   ...     ...         ...       ...
883      Maruti Suzuki Ritz    Maruti  2011  270000       50000    Petrol
885          Tata Indica V2      Tata  2009  110000       30000    Diesel
886    Toyota Corolla Altis    Toyota  2009  300000      132000    Petrol
888            Tata Zest XM      Tata  2018  260000       27000    Diesel
889      Mahindra Quanto C8  Mahindra  2013  390000       40000    Diesel

[816 rows x 6 columns]

In [17]:
car.reset_index(drop=True)

                       name   company  year   Price  kms_driven fuel_type
0       Hyundai Santro Xing   Hyundai  2007   80000       45000    Petrol
1       Mahindra Jeep CL550  Mahindra  2006  425000          40    Diesel
2         Hyundai Grand i10   Hyundai  2014  325000       28000    Petrol
3    Ford EcoSport Titanium      Ford  2014  575000       36000    Diesel
4                 Ford Figo      Ford  2012  175000       41000    Diesel
..                      ...       ...   ...     ...         ...       ...
811      Maruti Suzuki Ritz    Maruti  2011  270000       50000    Petrol
812          Tata Indica V2      Tata  2009  110000       30000    Diesel
813    Toyota Corolla Altis    Toyota  2009  300000      132000    Petrol
814            Tata Zest XM      Tata  2018  260000       27000    Diesel
815      Mahindra Quanto C8  Mahindra  2013  390000       40000    Diesel

[816 rows x 6 columns]

In [18]:
car.describe()

              year         Price     kms_driven
count   816.000000  8.160000e+02     816.000000
mean   2012.444853  4.117176e+05   46275.531863
std       4.002992  4.751844e+05   34297.428044
min    1995.000000  3.000000e+04       0.000000
25%    2010.000000  1.750000e+05   27000.000000
50%    2013.000000  2.999990e+05   41000.000000
75%    2015.000000  4.912500e+05   56818.500000
max    2019.000000  8.500003e+06  400000.000000

In [19]:
##only very few cars are above 60 lakh ,cars above that are outliers

In [20]:
car=car[car['Price']<6e6].reset_index(drop=True)

In [21]:
car.to_csv('cleaned_cars.csv')

### model

In [22]:
X=car.drop(columns='Price')
Y=car['Price']

In [23]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,Y,test_size=0.2)

In [24]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import make_column_transformer
from sklearn.pipeline import make_pipeline

In [25]:
ohe=OneHotEncoder()
ohe.fit(X[['name','company','fuel_type']])

OneHotEncoder()

In [26]:
column_trans=make_column_transformer((OneHotEncoder(categories=ohe.categories_),['name','company','fuel_type']),remainder='passthrough')

In [27]:
ir=LinearRegression()

In [28]:
pipe=make_pipeline(column_trans,ir)

In [29]:
pipe.fit(X_train,y_train)

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(categories=[array(['Audi A3 Cabriolet', 'Audi A4 1.8', 'Audi A4 2.0', 'Audi A6 2.0',
       'Audi A8', 'Audi Q3 2.0', 'Audi Q5 2.0', 'Audi Q7', 'BMW 3 Series',
       'BMW 5 Series', 'BMW 7 Series', 'BMW X1', 'BMW X1 sDrive20d',
       'BMW X1 xDrive20d', 'Chevrolet Beat', 'Chevrolet Beat...
                                                                            array(['Audi', 'BMW', 'Chevrolet', 'Datsun', 'Fiat', 'Force', 'Ford',
       'Hindustan', 'Honda', 'Hyundai', 'Jaguar', 'Jeep', 'Land',
       'Mahindra', 'Maruti', 'Mercedes', 'Mini', 'Mitsubishi', 'Nissan',
       'Renault', 'Skoda', 'Tata', 'Toyota', 'Volkswagen', 'Volvo'],
      dtype=object),
                                                                            array(['Diesel', 'LPG', 'Petrol'], dtype=object)]),
                                                  ['name', 'company',
                                                   'fuel_type'])])),
                ('linearregression', LinearRegression())])

In [30]:
y_pred=pipe.predict(X_test)

In [31]:
y_pred

array([ 413860.5522907 ,  234893.15925701,  282358.97095719,
        289511.43716361,  187608.4595838 ,  604772.79601268,
        397373.26588113,  461867.55876372,  603640.48036981,
        638977.16521765,  378332.96903425,  272807.9380783 ,
        -96410.32229437,  433148.73516843,  101640.55037548,
        313692.52619575,  786347.34733997,  264835.87555575,
        416972.2354028 ,  465409.55367198, 2174683.68873494,
        353545.72159726,  484600.47901936,  276932.00483801,
        301384.88359944,  382059.35189392,   78909.69769389,
        592941.97396177,  310237.77889081,  288472.7276664 ,
        368591.84070206,  637014.03455725,  396809.44243492,
        262567.74052154,  249418.99513285,   83248.26642796,
        294080.40260883,  614384.16329782,  475607.24993867,
        251674.15380667,  676492.81989434,  604772.79601268,
        536402.41246125,  451296.87295793,  -11316.61149178,
        152402.66568672,  346793.04264349,  531943.7817112 ,
        922597.34657202,  435343.44895   ,  167773.87052216,
       1708263.130491  ,  197433.60753583,  166823.16935727,
        181000.76108719,  523290.72352596,   77858.7436755 ,
        283652.41561328, 2174898.87657772,  314348.60791828,
        438784.52650763,  646876.45543105, 1169553.81327862,
        301747.72292997,  616598.83681262,  352091.83508072,
        473623.57813421,  587396.60947239,  406890.64335528,
        164626.95651274,  309404.24453249,  493538.37391223,
        614384.16329782,  491681.99901429,  789335.03930184,
        470567.4335915 ,  422737.89946374,  360751.10351717,
         -5692.7248926 ,  485129.13974546,  162537.32955597,
        366193.00321013,  359312.9945711 ,  408806.19841043,
        541362.27687421,  276656.63538358, -144069.12486786,
        500937.20382772,  298415.29136907,  381505.27718822,
        295740.71418732,  410499.72429068,  368282.02703185,
        402902.18548094,  243258.7237402 ,  425961.59954362,
       1473413.14199733,  246978.95289226, -121048.89157885,
        202452.29563045,  321085.25719725,  223086.95244875,
        309517.88204583,  248008.88468181,  805892.45267668,
        237472.796162  ,   19960.27606276,  218790.83589632,
       1529938.39719272,  646876.45543105,  430677.27033553,
        530669.09009199,  241351.45598608,   35617.88424879,
        269530.53005956,  347515.30447377,  321631.18397766,
        538943.86352523,  491681.99901429,  398773.43805926,
        646876.45543105,  154368.41534282,   36308.78628482,
        656523.00640263,  491095.19086066, 1068879.2269699 ,
       1500599.49923126,  537830.76697072,  441093.04309734,
        320950.97298674,  533122.23149967,  442659.83560451,
        435831.06467989,  340059.09488778,  259798.56859093,
        366976.67437615,  124839.09328773,  577307.97249207,
        522258.2012122 ,  120861.17127571,  589775.72430618,
        247388.71331891,  484268.38837434,  192078.46028821,
        640498.00978051,  606193.46431496,  105769.92585298,
        441713.48667474,  295708.17833708,  272594.74049661,
       2174898.87657772,  585891.58374401,  632674.05780759,
        134165.03247375,  220864.6879872 ,  278675.42058355,
        426387.67147232,  493031.3637652 ,  359041.2844838 ,
        614257.01870413,  335896.14092556,  332336.66675996,
        578932.59106948])

In [32]:
r2_score(y_test,y_pred)

0.67163777243358

In [33]:
#for different random states different r2 score is being produced which is due to 
# the reason that dataset is very small . So a loop is run with different random
#states and max is found

In [35]:
scores=[]
for i in range(2000):
    X_train,X_test,y_train,y_test=train_test_split(X,Y,test_size=0.1,random_state=i)
    lr=LinearRegression()
    pipe=make_pipeline(column_trans,lr)
    pipe.fit(X_train,y_train)
    y_pred=pipe.predict(X_test)
    scores.append(r2_score(y_test,y_pred))

In [36]:
np.argmax(scores)

302

In [37]:
scores[302]

0.8991190499074018

In [40]:
import pickle

In [41]:
pickle.dump(pipe,open('LinearRegressionModel.pkl','wb'))

In [42]:
pipe.predict(pd.DataFrame(columns=X_test.columns,data=np.array(['Maruti Suzuki Swift','Maruti',2019,100,'Petrol']).reshape(1,5)))

array([456549.33356479])